body {
  // Font & Text
  font: 0.8rem sans-serif;

  // Box Model
  min-width: 15rem;
  max-width: 35rem;
  margin: 0;
  padding: 0;
  overflow-y: visible;

  // Background
  background: rgb(245, 245, 245);
}

header,
footer {
  // Background
  background: rgb(230, 230, 230);
}

header {
  // Box Model
  padding: 0.75rem 0.75rem 0.5rem;

  // Border
  border-bottom: 1px solid #CCC;
}

footer {
  // Box Model
  padding: 0.75rem;

  // Text Layout
  text-align: center;
}

h1 {
  // Font & Text
  font-size: 1rem;

  // Box Model
  margin: 0;
}

ul {
  // Box Model
  margin: 0;
  padding: 0;

  // List & Counter
  list-style: none;
}

li {
  // Box Model
  display: flex;
  margin: 0;

  // Border
  border-bottom: 1px solid #CCC;

  p {
    // Box Model
    margin: 0;
    padding: 0.6rem 0.5rem 0.4rem;

    // Box Model
    flex: 1;
  }

  small {
    // Font & Text
    font-size: 0.7rem;

    // Box Model
    padding-top: 0.3rem;
  }

  &::before {
    content: '';

    // Box Model
    display: block;
    width: 2rem;

    // Background
    background-position: center 0.5rem;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }
}

.success {
  &::before {
    // Background
    background-color: hsl(110, 100%, 25%);
    background-image: url(../img/check.svg#active);
  }

  small {
    // Box Model
    display: none;
  }
}

.fail {
  &::before {
    // Background
    background-color: hsl(0, 100%, 30%);
    background-image: url(../img/remove.svg#active);
  }

  p {
    // Font & Text
    font-weight: bold;

    // Box Model
    padding-bottom: 0.5rem;
  }

  small {
    // Font & Text
    font-style: italic;
    font-weight: normal;

    // Box Model
    display: block;
  }
}
