
/* RULES : List of rules available
/* ------------------------------------------------------------------------- */

#rules {
  // Box Model
  max-width: 40rem;

  h2 {
    // Font & Text
    font: bold 1rem sans-serif;

    // Box Model
    margin: 0;
  }

  header {
    // Box Model
    display: flex;
    padding-bottom: 0.3rem;

    // Flex
    align-items: flex-end;

    // Border
    border-bottom: 1px solid #BBB;
  }

  header + p {
    // Font & Text
    font-size: 0.9rem;
    font-style: italic;

    // Box Model
    margin: 0.3rem 0 2rem;
  }

  header div {
    // Flex
    flex: 1;
  }

  code {
    // Font & Text
    font-size: 0.9rem;
  }

  code::before {
    content: '';

    // Box Model
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;

    // Background
    background-repeat: no-repeat;
    background-size: 0.9rem 0.9rem;
  }

  code.http::before {
    // Background
    background-image: url(../img/locker.svg);
  }

  code.https::before {
    // Background
    background-image: url(../img/locker.svg#secure);
  }

  code.both::before {
    // Box Model
    display: none;
  }

  button {
    // Box Model
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.3rem;
    padding: 0;

    // Position
    position: relative;

    // Background
    background: none;
    background-size: cover;

    // Border
    border: none;
    border-radius: 3px;

    // Misc
    cursor: pointer;
  }

  button.edit {
    // Background
    background-image: url(../img/edit.svg);
  }

  button.remove {
    // Background
    background-image: url(../img/remove.svg);
  }

  button.edit:hover {
    // Background
    background-color: #039;
    background-image: url(../img/edit.svg#active);

    // Transition
    transition: background-color 500ms;
  }

  button.remove:hover {
    // Background
    background-color: #900;
    background-image: url("../img/remove.svg#active");

    // Transition
    transition: background-color 500ms;
  }
}

/* FORM : Add or edit rules
/* ------------------------------------------------------------------------- */

form {
  // Box Model
  max-width: 40rem;
}

label {
  // Box Model
  display: block;
}

::placeholder {
  // Font & Text
  color: #777;
  font-style: italic;
}

button.reset {
  // Box Model
  display: none;
}

textarea {
  // Box Model
  height: 8rem;
  resize: vertical;
}

textarea,
[name=name] {
  // Box Model
  box-sizing: border-box;
  width: 100%;
}

input,
textarea,
.liner {
  // Font & Text
  font: 0.9rem sans-serif;

  // Box Model
  padding: 0.3rem 0.3rem 0.2rem;

  // Background
  background: #FFF;

  // Border
  border: 1px solid #DCDCDC;
}

input[type=number] {
  // Box Model
  width: 2.5rem;
  margin-left: 0.5rem;
}

.liner {
  // Box Model
  display: flex;

  // Flex
  align-items: center;

  input {
    // Box Model
    padding: 0;

    // Background
    background: none;

    // Border
    border: none;
  }

  input[type=text] {
    // Box Model
    flex: 1;
  }

  input[name=pattern] {
    // Box Model
    flex: 2;
  }

  select {
    // Border
    border: none;
  }
}

#error {
  // Font & Text
  color: #900;

  // Box Model
  display: none;
  padding: 0.8rem;

  // Background
  background: #FCC;

  // Border
  border: 1px solid #900;
}
